[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
setuptools = "*"
dash = "*"
dash_daq = "*"
platformio = "*"
jupyter = "*"
hyperopt = "*"
lightgbm = "*"
scikit-learn = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3"
